In [1]:
import pandas as pd
import numpy as np
from datetime import time as timee
import time

In [2]:
df = pd.read_csv('household_power_consumption.txt', sep=';', dayfirst=True, na_values=['?'])
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time
df = df.dropna(axis=0, how='all')
times = []

In [3]:
start = time.time()

# Завдання1
df_1 = df[df['Global_active_power']>5]

end = time.time()
times.append(end - start)

df_1

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,22/11/2010,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,22/11/2010,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,24/11/2010,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,24/11/2010,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,25/11/2010,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

In [4]:
start = time.time()

# Завдання2
df_2 = df[df['Voltage']>235]

end = time.time()
times.append(end - start)

df_2

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [5]:
start = time.time()

# Завдання3
df_3 = df[df['Global_intensity'].between(19, 20) & (df['Sub_metering_2'] > df['Sub_metering_3'])]

end = time.time()
times.append(end - start)

df_3

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,16/12/2006,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,17/12/2006,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,17/12/2006,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,17/12/2006,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,17/12/2006,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,24/11/2010,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,24/11/2010,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,24/11/2010,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,24/11/2010,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,24/11/2010,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

In [6]:
start = time.time()

# Завдання4
df_4 = df.sample(n=500000, random_state=1)[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean()

end = time.time()
times.append(end - start)

df_4

Sub_metering_1    1.120001
Sub_metering_2    1.299250
Sub_metering_3    6.460647
dtype: float64

In [7]:
start = time.time()

# Завдання5
new_df = df[df['Time'] >= timee(18, 0)]
new_df = new_df[new_df['Global_active_power'] > 6]
new_df = new_df[
    (new_df['Sub_metering_2'] > new_df['Sub_metering_1']) &
    (new_df['Sub_metering_2'] > new_df['Sub_metering_3'])
]
half_1 = new_df.iloc[:(len(new_df)//2)]
half_2 = new_df.iloc[(len(new_df)//2):]
new_half_1 = half_1.iloc[::3]
new_half_2 = half_2.iloc[::4]
df_5 = pd.concat([new_half_1, new_half_2])

end = time.time()
times.append(end - start)

df_5

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,16/12/2006,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,16/12/2006,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,28/12/2006,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,28/12/2006,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,28/12/2006,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
2066466,20/11/2010,18:30:00,6.620,0.314,229.00,29.2,18.0,34.0,16.0
2066470,20/11/2010,18:34:00,6.266,0.360,229.82,27.6,14.0,35.0,16.0
2066474,20/11/2010,18:38:00,6.302,0.376,229.65,27.8,15.0,34.0,17.0
2066478,20/11/2010,18:42:00,6.238,0.344,229.37,27.6,14.0,35.0,16.0
2066482,20/11/2010,18:46:00,6.438,0.308,229.26,28.4,13.0,39.0,16.0

In [8]:
types = [('Date', 'U10'), ('Time', 'U8'), ('Global_active_power', 'float64'),
         ('Global_reactive_power', 'float64'), ('Voltage', 'float64'),
         ('Global_intensity', 'float64'), ('Sub_metering_1', 'float64'),
         ('Sub_metering_2', 'float64'), ('Sub_metering_3', 'float64')]
ar = np.genfromtxt('household_power_consumption.txt', missing_values=['?',np.nan],
delimiter=';', dtype=types, encoding='UTF=8', names=True)

In [9]:
start = time.time()

# Завдання1
ar1 = ar[ar['Global_active_power'] > 5.0]

end = time.time()
times.append(end - start)

In [10]:
start = time.time()

# Завдання2
ar2 = ar[ar['Voltage'] > 235]

end = time.time()
times.append(end - start)

In [11]:
start = time.time()

# Завдання3
ar3 = ar[(ar['Global_intensity'] >= 19) &
                                 (ar['Global_intensity'] <= 20) &
                                 (ar['Sub_metering_2'] > ar['Sub_metering_3'])]

end = time.time()
times.append(end - start)

In [12]:
start = time.time()

# Завдання4
data = ar[np.random.choice(len(ar), size=500000, replace=False)]
avg1 = np.nanmean(data['Sub_metering_1'])
avg2 = np.nanmean(data['Sub_metering_2'])
avg3 = np.nanmean(data['Sub_metering_3'])

end = time.time()
times.append(end - start)

In [13]:
start = time.time()

# Завдання5
after_6pm = np.array([int(i.split(':')[0]) >= 18 for i in ar['Time']])
after6 = ar[after_6pm]

after6 = after6[after6['Global_active_power'] > 6.0]

after6 = after6[
        (after6['Sub_metering_2'] > after6['Sub_metering_1']) &
        (after6['Sub_metering_2'] > after6['Sub_metering_3'])
]

mid_ind = len(after6) // 2
half_1 = after6[:mid_ind]
half_2 = after6[mid_ind:]

new_half_1 = half_1[::3]
new_half_2 = half_2[::4]

final = np.concatenate((new_half_1, new_half_2))

end = time.time()
times.append(end - start)

In [14]:
times_df = pd.DataFrame({
    'Pandas': times[:5],
    'Numpy': times[5:]
})
times_df

     Pandas     Numpy
0  0.007663  0.019778
1  0.123836  0.138484
2  0.016230  0.044698
3  0.447332  0.222306
4  0.167447  1.851045